*{
    margin: 0%;
    padding: 0%;
    list-style: none;
    box-sizing: border-box;
}
header{
    background-color: rgb(75, 17, 17);
    height: 200px;
    padding-top: 50px;
    text-align: center;


}
.logo{
    color: white;
    font-size: 34px;
}
nav{
    /* display: flex; */
   justify-content: space-between;

}
nav ul{
    display: flex;
    gap: 40px;
    padding-left: 240px;
    padding-top: 50px;
}
nav ul li a {
    text-decoration: none;
    color: white;
    font-size:26px;
    text-transform: uppercase;
    padding: 30px;
}
body{
    background-image: linear-gradient(rgba(0, 0, 0, 0.567),rgba(0, 0, 0, 0.551),rgba(0, 0, 0, 0.6)), url( boti.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
main h1{
    margin-top: 170px;
    text-align: center;
    color: white;
    font-size: 60px;
    height:300px;
}
section{
     height: 550px; 
    background-color: black;
    padding: 30px;
}
section h2{
    color:white;
    font-size: 40px;
    text-align: center;
}
section h5{
    font-size: 40px;
    color: white;
    margin-top: 30px;
    text-align: left;
    text-decoration: underline;

}
.hot{
    height: 1500px;
    background: transparent;
}
.hot h3{
    font-size: 40px;
    color: white;
    text-align: center;
}
.con{
    margin-top: 40px;

}
.con p{
    /* width: 1200px; */
    color: aliceblue;
    font-size: 24px;
}
.con h6{
    font-size: 40px;
    color: white;
    margin-top: 70px;
    text-decoration: underline;
}
footer{
    height: 560px;
    background-color:rgb(75, 4, 4);
    color:white;
    text-align: center;
    border-radius: 0px 160px 0px;

}
footer i{
   font-size: 50px;
   margin: 15px;   
   color: black;
}
footer h5{
    font-size: 28px;
}
.fi{
    display: flex;
    padding: 50px;  
   padding-left: 240px;
}
.lov{
    width: 300px;
    height: 400px;
    margin: 20px;
}
.lov h6{
    font-size: 30px;

}
.lov li{
    font-size: larger;
    margin-top: 40px;
}
.cot{
    display: flex;
    flex-wrap:wrap ;
    padding: 0 4px;
}
.first{
    flex: 25%;
    max-width:25%;
}
.first>img{
    width: 100%;
    vertical-align: middle;
    padding: 4px;
}
@media screen and (max-width:300px)
{
    .first{
        flex:calc(100%/1);
        max-width: 100;}
    /* nav ul{
            display: none;
        } */
    
    

} 
@media screen and (min-width: 301px) {
    .first{
        flex:calc(100%/2);
        max-width: 100%;
    }
    /* nav ul{
        display: none;
    } */
}
@media screen and (min-width: 800px) {
    .first{
        flex:calc(100%/3);
        max-width: 100%;
     }
    /* nav ul{
        display: none;

     }  */
    
}
@media screen and (min-width: 1024px) {
    .first{
        flex:calc(100%/4);
        max-width: 100%;
    }
    /* nav ul{
        display: none;
     } */
    
}




































